.App {
    text-align: center;
}

/* ======================================================================= */

/* ------------------------------The Nav Bar------------------------------ */

/* this targets the nav background and styles it */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background: lightblue;
    color: white;
}
/* this targets the nav links inside the nav background and styles it */
.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
/* this targets each list item in the link and styles it */
li {
    font-size: 30px;
    color: black;
}
/* ----------------------------End of The Nav Bar------------------------- */

/* ======================================================================= */

/* ----------------------------Homepage Section--------------------------- */
/* -------------------------End of Homepage Section----------------------- */

/* ======================================================================= */

/* ----------------------------About Me Section--------------------------- */
/* -------------------------End of About Me Section----------------------- */

/* ======================================================================= */

/* -----------------------------Project Section--------------------------- */

/* this targets all the projects for styling */
.projectImages {
/* background-color: lightblue; */
overflow: scroll;
}

/* this targets the project images and styles them */
.cardImage {
    border: 2px solid lightblue;
    border-radius: 15px;
    list-style: none;
    display: block;
    margin: 10px 0 10px 0;
    padding: 25px;    
}
/* --------------------------End of Project Section----------------------- */

/* ======================================================================= */

/* --------------------------Contact Me Section--------------------------- */
/* -----------------------End of Contact MeSection------------------------ */