.App {
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}
/* ======================================================================= */

/* ------------------------------The Nav Bar------------------------------ */

/* this targets the nav background and styles it */
.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    min-height: 15vh;
    background: dodgerblue;    
}

/* this targets the section around headerName */
.headerName {
    display: flex;
    text-align: left;
    width: 40%;      
}

/* this targets the Marcos Badillo text and styles it */
.myName-link {
    font-size: 60px;
    color: white;
    list-style: none;
    padding: 15px 15px;
}

/* this targets Marcos Badillo text with hover style it */
.myName-link:hover {
    border-radius: 15px;
    background: white;
    color: black;
}

/* this targets the nav links inside the nav background and styles it */
.container-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none; 
    text-align: right;   
}

/* this targets the About Me, Projects, Cert, Contact Me links */
.nav-link {
    font-size: 40px;
    color: white;
    list-style: none;
    padding: 15px 15px;
}

/* this targets the About Me, Projects, Cert, Contact Me with hover style */
.nav-link:hover {
    border-radius: 15px;
    background: white;
    color: black;
}
/* ----------------------------End of The Nav Bar------------------------- */

/* ======================================================================= */

/* ----------------------------Homepage Section--------------------------- */

/* this targets the container and structures everything inside of it */
.homepage-container {
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 1rem;
    text-align: center;
}

/* this targets the h1 (Marcos Badillo) */
h1 {
    color: black;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 2rem;
}

/* this targets the h2 (Entry Level Software Developer) */
h2 {
    color: black;
    font-size: 30px;
    font-weight: 400;
}

/* this targets the img src */
.homepage-container img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 6px solid dodgerblue;
    border-radius: 8px;
    width: 500px;
    height: 600px;
}

/* this targets the p (the paragraph about me) */
p {
    font-size: 25px;
    color: black;
    line-height: 5rem;
    margin-bottom: 5rem;
}
/* --------------------------End of Hompage Section----------------------- */

/* ======================================================================= */

/* ----------------------------My Skills Section--------------------------- */

/* this targets the container and structures everything inside of it */
.skills-container {
    display: inline-block;
    margin: 0 auto;
    padding: 20px 20px;
    align-items: center;
}

/* this centers the text for each <section> */
.myskills, .headerName, .textRight {
    text-align: center;
}

/* this targets each img and styles it  */
.skills-container img {
    height: 200px;
    width: 210px;
}

/* this targets each row in the <section>'s */
.row {
    width: 100%;
    display: flex;
    border-bottom: 2px solid black;
}

/* this targets each column in the <section>'s */
.col {
    padding: 10px 20px;
}

.skills-container p {
    font-size: 20px;
}
/* -------------------------End of My Skills Section----------------------- */

/* ======================================================================= */

/* -----------------------------Project Section--------------------------- */

/* this targets the container and structures everything inside of it */
.project-container {
margin: 0 auto;
padding: 0 3rem;
margin-top: 4rem;
text-align: center;
overflow: scroll;
}

/* this targets the h1 text (My Projects) */
.myprojects {
    text-align: center;
}

/* this targets the project images */
.cardImage {
    list-style: none;
    display: inline;
    margin: 10px 0 10px 0;
    padding: 25px 25px;     
}

/* this targets the project images and styles them */
.project-container img {
    border-radius: 15px;
    border: 6px solid dodgerblue;
    width: 700px;
    height: 400px;
}
/* --------------------------End of Project Section----------------------- */

/* ======================================================================= */

/* --------------------------Certificate Section-------------------------- */

/* this targets the container and structures everything inside of it */
.certificate-container {
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 1rem;
    text-align: center;
    }
/* this targets the h1 text (My Projects) */
.mycertificate {
    text-align: center;
}

/* this targets the project images */
.certImage {
    list-style: none;
    display: inline;
    margin: 10px 0 10px 0;
    padding: 25px 25px;     
}

/* this targets the project images and styles them */
.certificate-container img {
    border-radius: 15px;
    border: 6px solid dodgerblue;
    width: 900px;
    height: 600px;
}
/* -----------------------End of Certificate Section---------------------- */

/* ======================================================================= */

/* --------------------------Contact Me Section--------------------------- */
/* -----------------------End of Contact MeSection------------------------ */