.App {
    text-align: center;   
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
} 
/* ======================================================================= */

/* ------------------------------The Nav Bar-------------------------------*/

/* this targets the nav background and styles it */
.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    min-height: 15vh;    
}

/* this targets the section around headerName */
.headerName {
    display: flex;
    text-align: left;
    width: 40%;      
}

/* this targets the Marcos Badillo text and styles it */
.myName-link {
    font-size: 60px;
    color: white;
    list-style: none;
    padding: 15px 15px;
}

/* this targets Marcos Badillo text with hover style it */
.myName-link:hover {
    text-decoration: underline;
    color: white;
}

/* this targets the nav links inside the nav background and styles it */
.container-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none; 
    text-align: right;   
}

/* this targets the My Skills, Projects, Cert, Contact Me links */
li.nav-link {
    font-size: 40px;
    color: white;
    list-style: none;
    padding: 15px 15px;
}

/* this targets the My Skills, Projects, Cert, Contact Me with hover style */
li.nav-link:hover {
    text-decoration: underline;
    color: white;
}
/* ----------------------------End of The Nav Bar------------------------- */

/* ======================================================================= */

/* ----------------------------Homepage Section--------------------------- */

/* this targets the container and structures everything inside of it */
.homepage-container {
    display: inline-block;
    margin: 0 auto;
    padding: 80px 70px;
    align-items: center;
    text-align: center;
}

/* this targets each row in the <section>'s */
.homepage-row {
    width: 100%;
    display: flex;
}

/* this targets each column in the <section>'s */
.homepage-col {
    padding: 150px 80px;
}

/* this targets the h2 (Entry Level Software Developer) */
.homepage-container .headerTitle {
    color: white;
    font-size: 45px;
    font-weight: 400;
    border-bottom: 1px solid white;
}

/* this targets the img src */
.homepage-container img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 6px solid black;
    border-radius: 8px;
    width: 500px;
    height: 600px;
}

/* this targets the p (the paragraph about me) */
p {
    font-size: 25px;
    color: white;
    line-height: 5rem;
    margin-bottom: 5rem;
}
/* --------------------------End of Hompage Section----------------------- */

/* ======================================================================= */

/* ----------------------------My Skills Section--------------------------- */

/* this targets the container and structures everything inside of it */
.skills-container {
margin: 0 auto;
padding: 0 3rem;
margin-top: 4rem;
text-align: center;
}

/* this centers the text for each <section> */
.myskills {
    text-align: center;
    color: white;
}

/* this targets the skills image logos */
.imgLogo {
    list-style: none;
    display: inline;
    margin: 10px 0 10px 0;
    padding: 25px 25px;     
}

/* this targets each img and styles it  */
.skills-container img {
    border-radius: 15px;
    width: 200px;
    height: 200px;
}

/* this targets the skill images and adds a hover animation*/
.skills-container img:hover {
    border: 6px solid purple;
}
/* -------------------------End of My Skills Section---------------------- */

/* ======================================================================= */

/* -----------------------------Project Section--------------------------- */

/* this targets the container and structures everything inside of it */
.project-container {
margin: 0 auto;
padding: 0 3rem;
margin-top: 4rem;
text-align: center;
}

/* this targets the h1 text (My Projects) */
.myprojects {
    text-align: center;
    color: white;
}

/* this targets the project images */
.cardImage {
    list-style: none;
    display: inline;
    margin: 10px 0 10px 0;
    padding: 25px 25px;     
}

/* this targets the project images and styles them */
.project-container img {
    border-radius: 15px;
    width: 700px;
    height: 400px;
}

/* this targets the project images and adds a hover animation*/
.project-container img:hover {
    border: 6px solid purple;
}
/* --------------------------End of Project Section----------------------- */

/* ======================================================================= */

/* --------------------------Certificate Section-------------------------- */

/* this targets the container and structures everything inside of it */
.certificate-container {
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 1rem;
    text-align: center;
    }
/* this targets the h1 text (My Certificate) */
.mycertificate {
    text-align: center;
    color: white;
}

/* this targets the project images */
.certImage {
    list-style: none;
    display: inline;
    margin: 10px 0 10px 0;
    padding: 25px 25px;     
}

/* this targets the project images and styles them */
.certificate-container img {
    border-radius: 15px;
    border: 6px solid purple;
    width: 900px;
    height: 600px;
}
/* -----------------------End of Certificate Section---------------------- */

/* ======================================================================= */

/* --------------------------Contact Me Section--------------------------- */

/* this targets the container and structures everything inside of it */
.contact-container {
    border-radius: 5px;
    border: 6px solid purple;
    padding: 20px;
    margin-top: 3rem;
    display: inline-block;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

/* this targets the h2 text (Contact Me) */
.contactMe {
    text-align: center;
    color: white;
}

.contact-container #error-message {
    margin-bottom: 20px;
    padding: 20px;
    background: red;
    text-align: center;
    font-size: 25px;
    transition: all 0.5s ease;
}

/*this targets labels inside the Contact Me Form (Your Name, Your Email, Subject) */
label {
    color: white;
}

/* this targets the input and textarea with className form-styling */
.contact-container .form-styling {
    width: 100%;
    padding: 12px;
    border: 1px solid purple;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    outline: none;
}

/* this targets the message box and styles the height */
.contact-container .messageBox {
    height: 200px;
    resize: none;
}

/* this targets the send message button and styles it */
.contact-container .btn {
    background-color: purple;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 1px white;
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
}

/* this targts the send message button with a hover effect */
.contact-container .btn:hover {
    background-color: purple;
    color: white;
}

/* this targets the send message button with a click animation */
.contact-container .btn:active {
    background-color: purple;
    box-shadow: 0 2px white;
    transform: translateY(4px);
}
/* -----------------------End of Contact MeSection------------------------ */